<%- include(`header`) %>

<div class="previewbox">

    <h1 class="rooth1"> <%= article.name %> </h1>

    <p> <%= article.description %> </p> 

    <button class="seemore"> <a href="/"> Go back </a></button>

</div>


<%- include(`footer`) %>