<%- include(`header`) %>

<div class="loginbox">
    
    <form action="/admin/register" method="post" class="loginform">

        <h1> LoremBlog Admin Register </h1>

        <% if (typeof errorBox != `undefined`) { %>
            <% errorBox.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
            <% }) %>
        <% } %>

        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <div class="buttonsopt">
            <button type="submit" class="loginbtn"> Register </button>
            <a href="/admin/login" class="regislink"> Back </a> 
        </div>

        
    </form>


</div>

<%- include(`footer`) %>